---
layout: default
permalink: /tag/programmers
title: programmers
---

<div id="tag-title">
  <h1>{{ page.title }} 태그 포스팅들</h1>
</div>
<div id="tag-content">
    {% assign subs = "lv2,lv1" | split: "," %}
    {% assign subs_desc = "Level 2:,Level 1:" | split: "," %}
    {% assign to = subs.size | minus: 1 %}
    
    {% for i in (0..to) %}
        <div class="sub-tag">
            <h2>{{ subs_desc[i] }}</h2>
        </div>
        {% assign tag = subs[i] %}
        {% assign sorted = site.tags[tag] %}
        {% for post in sorted reversed %}
            <div class="post-list">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="post-desc">Last updated: {{ post.updated }}</div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
